.head{
    font-family: 'Courier New', Courier, monospace;
    color: #668fbf;;
}
.con{
    font-family: 'Courier New', Courier, monospace;
    color: #668fbf;
}
.info{
    color: #668fbf;
    
}